<!DOCTYPE html>
<html lang="en">
<head>
	<title>Web Client: Home</title>
</head>
<body>
	<h1>Web Client: Home</h1>
	<h3>
		Hello <span th:text="${username}" style="color: green"></span>
	</h3>
	<p>
		<a href="/ui/showOidcUserInfo">
			<span>Check out your user info</span>
		</a>
	</p>
	<p>
		<a href="/ui/articles/show">
			<span>Show [Articles] from Resource Server</span>
		</a>
		<br />
		<a href="/ui/articles/create">
			<span>Create [Articles] and send them to Resource Server</span>
		</a>
	</p>
	<p>
		<a href="/ui/products/show">
			<span>Show [Products] from Resource Server</span>
		</a>
		<br />
		<a href="/ui/products/create">
			<span>Create [Products] and send them to Resource Server</span>
		</a>
	</p>
	<p>
		<a href="/custom/authcode/fetch">
			<span>Fetch an Access Token via an Authorization Code Grant from Authorization Server</span>
		</a>
	</p>
	<p>
		<a href="/logout">
			<span>Logout</span>
		</a>
	</p>
</body>
</html>
